<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xiaoquchaoshi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05DF4F7A1D7002A5009E2433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05DF4F931D7002A6009E2433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05DF4F9E1D7002A6009E2433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
